.about-container {
  max-width: 1000px;
  margin: 4rem auto;
  padding: 2rem;
  color: #3d405b;
  background-color:beige;
  border-radius: 10px;
}

/* headings */
.about-container h1 {
  font-size: 3rem;
  color: #e07a5f;
  margin-bottom: 1rem;
}

.about-container h2 {
  color: #81b29a;
  margin-top: 2rem;
  text-align: right;
  font-size: 2.5rem;
}

/* list content */
.about-intro {
  font-size: 1.6rem;
}
.about-container ul {
  list-style:none;
  padding: 0;
  margin: 0;
}

.about-container li{
    padding-bottom: 0.5rem;
    text-align: right;
    font-size: 1.4rem;
}

.flower{
    float:right;
    padding: 2rem;
    width: 160px;
    margin-top: 2rem;
}