/*layout containers*/
.header-container, .nav-links{
  display: flex;
  justify-content: center; /*centers horizontally*/
  align-items: center; /*center vertically*/
  gap: 2rem;
  flex-wrap: wrap; /*responsive wrapping*/
}

/*header bar*/
.header-container {
  padding: 4rem;
  background-color: #f4f1de;
  border-bottom: 2px solid #e07a5f;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
/*site title*/
.site-title {
  position: absolute; /*removes item from flexbox */
  left: 3rem; /*positions on the left*/
  color: #1c0561;
  font-size: 4rem;
  text-shadow: 0 0 5px #3d405b;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Limelight", sans-serif;
}

/*nav links*/
nav a {
  text-decoration: none;
  color: #3d405b;
  letter-spacing: 0.5px;
  font-size: 2rem;
}

nav a:hover {
  color: #81b29a;
}