@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.event-details-modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;

  width: 30%;
  height: auto;
  max-height: 80vh;
  overflow-y:auto; /*scroll if needed */

  background-color: white;
  border: 2px solid #e07a5f;
  border-radius: 10px;
  padding: 3rem; 
  color: #343755;
  z-index: 1000;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  animation: fadeIn 0.7s ease-out;
}

.event-details-modal .control {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 40px;
  height: 40px;
}

.event-details-modal h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.event-details-modal p,
.event-details-modal span {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.event-details-modal ul {
  font-size: 1.5rem;
  list-style-type: none;
  padding: 0;
}

.success-message {
  color: #81b29a;
  font-weight: 600;
  margin-top: 0.5rem;
  text-align: center;
  animation: fadeIn 0.3s ease-in;
}

@media (max-width: 768px) {
  .event-details-modal {
    width: 80%;
    padding: 2rem;
  }
}

  @media (max-width: 480px) {
  .event-details-modal {
    width: 80%;
    padding: 1.5rem;
  }
}