@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.event-details-modal {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 2px solid #e07a5f;
  border-radius: 10px;
  padding: 3rem;
  width: 30%;
  max-height: 80vh; 
  overflow-y:auto;
  color: #343755;
  animation: fadeIn 0.7s ease-out;
  z-index: 1000; /*ensure above table*/
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.event-details-modal .control {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 40px;
  height: 40px;
}

.event-details-modal h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.event-details-modal p,
.event-details-modal span {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

ul {
  font-size: 1.5rem;
  list-style-type: none;
  padding: 0;
}

.success-message {
  color: #81b29a;
  font-weight: 600;
  margin-top: 0.5rem;
  text-align: center;
  animation: fadeIn 0.3s ease-in;
}

@media (max-width: 768px) {
  .event-details-modal {
    width: 80%;
    margin: 1rem auto;
    padding: 2rem;
  }
}

  @media (max-width: 480px) {
  .event-details-modal {
    width: 80%;
    padding: 1.5rem;
  }
}