.schedule-container {
  position: relative;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center; /* centers the schedule horizontally */
  margin: 0 auto;
  overflow-x: hidden; /* prevents horizontal scroll*/
}

.schedule-heading {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 5rem;
  font-weight: 500;
  color: #343755;
}

.schedule-table {
  display: table;
  width: 100%;
  max-width: 75vw; 
  background-color: rgba(255, 255, 255, 0.85);
  border-collapse: collapse;
  margin: 1rem auto 2rem;
}

button {
  all: unset; /*removes default button settings*/
  cursor: pointer;
}

.schedule-table thead {
  background-color: #e07a5f;
  color: white;
}

.schedule-table th,
.schedule-table td {
  border: 1px solid #ddd;
  padding: 2.5rem;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.4;
}

.schedule-table tbody th {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0 5rem;
  color: #343755;
  border-right: 2px solid #e07a5f;
}

.schedule-table tbody tr:nth-child(even) {
  background-color: #f4f1de;
}

.schedule-table tbody td:hover {
  background-color: #f2cc8f;
}

/* multi-screen responsiveness */

/*tablet*/
@media screen and (max-width: 768px) {
  .schedule-heading {
    font-size: 2rem;
    margin: 0.5rem;
  }

  .schedule-table th,
  .schedule-table td {
    padding: 0.8rem;
    font-size: 0.9rem;
  }

  .schedule-table tbody th {
    font-size: 1rem;
  }
}

/*big phones*/
@media screen and (max-width: 480px) {
  .schedule-heading {
    font-size: 1.3rem;
  }

  .schedule-table th,
  .schedule-table td {
    font-size: 0.8rem;
    padding: 0.5rem;
  }

  .schedule-table tbody th {
    font-size: 0.9rem;
  }
}

/*small phones*/
@media screen and (max-width: 320px) {
  .schedule-heading {
    display: none;
  }

  .schedule-table th,
  .schedule-table td {
    font-size: 0.75rem;
    padding: 0.4rem;
  }
}

