.schedule-container {
  position: relative;
  overflow: visible;
  padding-bottom: 4rem;
}

.schedule-heading {
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 3rem;
  font-weight: 500;
  color: #343755;
}

.schedule-table {
  display: block;              /* allows horizontal scroll */
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: rgba(255, 255, 255, 0.85);
  border-collapse: collapse;
  margin: 1rem auto 2rem auto;
  box-sizing: border-box;
}

button {
  all: unset; /*removes default button settings*/
  cursor: pointer;
}

.schedule-table thead {
  background-color: #e07a5f;
  color: white;
}

.schedule-table th,
.schedule-table td {
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
}

.schedule-table tbody th {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 1.5rem;
  color: #343755;
  border-right: 2px solid #e07a5f;
}

.schedule-table tbody tr:nth-child(even) {
  background-color: #f4f1de;
}

.schedule-table tbody td:hover {
  background-color: #f2cc8f;
}

/* multi-screen responsiveness */

/*tablet*/
@media screen and (max-width: 768px) {
  .schedule-heading {
    font-size: 2rem;
    margin: 0.5rem;
  }

  .schedule-table th,
  .schedule-table td {
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  .schedule-table tbody th {
    font-size: 1rem;
    padding: 0.8rem;
  }
}

/*big phones*/
@media screen and (max-width: 480px) {
  .schedule-heading {
    font-size: 1.3rem;
  }

  .schedule-table th,
  .schedule-table td {
    font-size: 0.75rem;
    padding: 0.3rem;
  }

  .schedule-table tbody th {
    font-size: 0.9rem;
  }
}

/*small phones*/
@media screen and (max-width: 320px) {
  .schedule-heading {
    display: none;
  }

  .schedule-table th,
  .schedule-table td {
    font-size: 0.7rem;
    padding: 0.2rem;
  }
}

